# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Dependencies
/venv/
/env/

# IDEs and editors
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
